{% extends "base.html" %}

{% block content %}
<div id="wrapper" class="col-lg-8 col-lg-offset-2" style="margin-top: 2%">
    <form method="post" action="#" >
        <label for="serialnum">Ping Temporary Task :</label>

        <div class="form-group">
            <label for="serialnum">查询单号：</label> <input id="serialnum" name="serialnum" type="text" placeholder="" class="form-control col-md-4" readonly>
        </div>

        <label for="endpoint_select">Raspberry Node:</label>
        <select id="endpoint_select" name="endpoint_select" onchange="func(this.value)" class="form-control col-md-4">
            <option value="" selected>--请选择--</option>
            {% for ep in endpointlist %}
            <option value="{{ ep.map_ofid }}">{{ ep.map_ofname }} | {{ ep.map_desc }}</option>
            {% endfor %}
        </select>

        <div class="form-group">
            <label for="targeturl">目标地址 : </label> <input  id="targeturl" name="targeturl" type="text" class="form-control col-md-4" placeholder="www.baidu.com">
        </div>
        <div class="form-group">
            <label for="packagesize">包大小 :   </label> <input id="packagesize" name="packagesize" type="text" class="form-control col-md-4" placeholder="默认数字64字节">
        </div>
        <div class="form-group">
            <label for="timeout">超时时间 : </label> <input id="timeout"  name="timeout" type="text" class="form-control col-md-4" placeholder="超时时间默认事5s">
        </div>
        <div class="form-group">
            <label for="ipversion">ip版本 :   </label> <input id="ipversion"  name="ipversion" type="text" class="form-control col-md-4" placeholder="若是ipv4,请填写4;若是ipv6,请填写6">
        </div>

        <button type="submit"  class="btn btn-primary btn-lg btn-block">提交</button>

    </form>

</div>


<script>
        var endpoint_id;

        function func(m) {
            var xhttp = new XMLHttpRequest();
            endpoint_id = m;
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {

                    var res = xhttp.responseText;
                    resjson = JSON.parse(res);
                    alert("这个节点有" + resjson.length + "参数");

                }
            };

            // xhttp.open("GET", "/counter/" + m, true);
            // xhttp.send();
            xhttp.open("POST", "/endpoint/counter/", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("endpoint_id="+m);

        }

        function getRandomCode(length) {
            return Number(Math.random().toString().substr(3,length) + Date.now()).toString(36);
        }

        var serialnum = getRandomCode(10);
        console.log(serialnum);

        document.getElementById("serialnum").setAttribute("value",serialnum);
        document.getElementById("serialnum").setAttribute("placeholder",serialnum);




</script>

{% endblock %}